<!-- base.html 파일 상속 받음 -->
{% extends 'base.html' %}
<!-- 현재 페이지의 내용 -->
{% block content %}
        <form action="/add" method="post">
            <!-- <textarea name="task" rows="5" placeholder="Enter your task" id="task" required></textarea> -->
            <textarea name="task" rows="5" placeholder="Enter your task" id="task"></textarea>
            <button type="submit" id="add_task">
            Add
            </button>
        </form>
        <br>
	    <h2>Tasks</h2>
        <div>
            <!-- todos 테이블 전체 데이터 랜더링 -->
            {% for todo in todoss %}
            <div class="task">
                <!-- todo.complated=True 또는 False 구분해서 표시 -->
                {% if todo.completed %}
                    <strike>{{ todo.task }}</strike>
                {% else %}
                    {{ todo.task }}
                {% endif %}
                <div class="task-actions">
                    <a href="/edit/{{ todo.id }}" class="todo-btn">Edit</a>

                    <form action="/delete/{{ todo.id }}" method="post">
                        <button type="submit" class="todo-btn">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock content %}